<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Notebyte</title>
</head>

<body>
    <div class="error-container">
        <h1>Not authorized to access this page</h1>
    </div>
</body>

</html>
