<div class="main-wrapper">
    <div class="form-wrap animated slideInLeft faster">
        <h2>Login</h2>
        <form id="loginForm" class="form-style" action="/" method="POST">
            <input type="text" class="login-uname" name="username" placeholder="Username" required autofocus>
            <input type="password" class="login-pass" name="password" placeholder="Password" required>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <div>New user? <a href="/register">Register</a></div>
    </div>
</div>
