<div class="main-wrapper">
    <div class="form-wrap animated slideInLeft faster">
        <h2>Register</h2>
        <form id="registerForm" class="form-style" action="/register" method="POST">
            <input type="text" class="register-uname" name="username" placeholder="Username" required autofocus>
            <input type="password" class="register-pass" name="password" placeholder="Password" required>
            <input type="password" class="register-passConf" name="passwordConf" placeholder="Confirm Password" required>
            <button type="submit" class="register-btn">Register</button>
        </form>
    </div>
</div>
